.table {
  width: 50vw;
  position: fixed;
  margin-left: 15vw;
}
.thead{
  background-color: rgba(128, 128, 134, 0.75);
  border-bottom: 5px solid;
}

th {
  text-align: center;
  padding: 8px;
  font-size: 18px;
  justify-content: center;
}

td {
  background-color: rgba(199, 195, 175, 0.65);
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

span {
  font-size: 15px;
}

span:hover {
  color: green;
}

span::after {
  color: green;
}