<div class="container">
  <table class="table">
    <thead>
      <tr class="thead">
        <th *ngFor="let col of columns">{{ col }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contract of (allContracts$ | async)">
        <td *ngIf="!(contract.status == 2)">{{ contract.user.name }}</td>
        <td *ngIf="!(contract.status == 2)">{{ contract.user.email }}</td>
        <td *ngIf="!(contract.status == 2)" class="td-actions">
          <span
            (click)="id($event)"
            class="glyphicon glyphicon-plus"
            id="{{ contract.id }}"
          ></span>
          <!---<button (click) = "id($event)"  id="{{contract.id}}">
                <i class="btn-icon-only icon-ok"></i>

              </button>-->
        </td>
      </tr>
    </tbody>
  </table>
</div>
