<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>

<nav class="navbar navbar-inverse sidebar" role="navigation">
  <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a routerLink="message" routerLinkActive="routerLink"
          >Wiadomości
          <span
            style="font-size:20px;"
            class="pull-right hidden-xl-down glyphicon glyphicon-envelope"
          ></span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="calendar" routerLinkActive="routerLink"
          >Kalendarz
          <span
            style="font-size:20px;"
            class="pull-right hidden-xl-down glyphicon glyphicon-calendar"
          ></span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="contract" routerLinkActive="routerLink"
          >Zatwierdzanie osób
          <span
            style="font-size:20px;"
            class="pull-right hidden-xl-down glyphicon glyphicon-th-list"
          ></span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="registerInstruktor" routerLinkActive="routerLink"
          >Rejestracja instruktora
          <span
            style="font-size:20px;"
            class="pull-right hidden-xl-down glyphicon glyphicon-chevron-down"
          ></span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="instruktorList" routerLinkActive="routerLink"
          >Użytkownicy
          <span
            style="font-size:20px;"
            class="pull-right hidden-xl-down glyphicon glyphicon-user"
          ></span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="settings" routerLinkActive="routerLink"
          >Ustawienia
          <span
            style="font-size:20px;"
            class="pull-right hidden-xl-down glyphicon glyphicon-cog"
          ></span>
        </a>
      </li>
      <li class="nav-item">
        <a (click)="logout()"
          >Wyloguj
          <span
            style="font-size:20px;"
            class="pull-right hidden-xl-down glyphicon glyphicon-off"
          ></span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="router"><router-outlet></router-outlet></div>
