<link
  href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<app-nav-bar></app-nav-bar>

<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>Logowanie</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="login-form" [formGroup]="myForm">
      <table class="login-table" cellspacing="0">
        <tr>
          <td>
            <mat-icon [ngStyle]="{ 'margin-right': '10px' }"
              >account_circle</mat-icon
            >
            <mat-form-field class="login-table" floatLabel="never">
              <input
                matInput
                formControlName="email"
                type="text"
                name="email"
                placeholder="Email"
                [(ngModel)]="email"
                class="data"
                required
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-icon [ngStyle]="{ 'margin-right': '10px' }">vpn_key</mat-icon>
            <mat-form-field class="login-table" floatLabel="never">
              <input
                matInput
                formControlName="password"
                type="password"
                name="password"
                placeholder="Hasło"
                floatPlaceholder="never"
                [(ngModel)]="password"
                class="data"
                required
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="loginUser()" id="login" mat-raised-button>Login</button>
  </mat-card-actions>
</mat-card>

<div class="error-message" *ngIf="errorMessage">
  Nieprawidłowy e-mail bądź hasło
</div>

<div class="error-message" *ngIf="noContract">Nie zaakceptowany przez osk!</div>
