<link
  href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="loginForm">
    <div class="main-div">
      <div class="panel">
        <h2>Logowanie</h2>
      </div>
      <div class="login-container">
          <mat-form-field>
            <input matInput [(ngModel)]="email" placeholder="E-mail" [formControl]="emailControl" required>
            <mat-error *ngIf="emailControl.invalid">{{getErrorMessageEmail()}}</mat-error>
          </mat-form-field>
        
          <mat-form-field>
            <input matInput [(ngModel)]="password" placeholder="password" [formControl]="passwordControl" [type]="hide ? 'password' : 'text'" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="passwordControl.invalid">{{getErrorMessagePassword()}}</mat-error>
          </mat-form-field>
      </div>
      <div class="button">
          <button class="btn btn-primary" (click)="loginUser()">Zaloguj</button>
      </div>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
        Nieprawidłowy e-mail bądź hasło
    </div>
      
    <div class="alert alert-warning" role="alert" *ngIf="noContract">Nie zaakceptowany przez osk!</div>
  </div>
</div>