/* angular-cli file: src/styles.css */
"styles": [
        "../node_modules/font-awesome/css/font-awesome.css",
        "../node_modules/simple-line-icons/css/simple-line-icons.css",
        "../node_modules/angular-calendar/dist/css/angular-calendar.css",
        "scss/style.scss"
      ],



h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

