html, body {
    height: 100%;
    margin-left: 55px;
    margin-top: -40px;
    margin-bottom: 25px;
    }

#map {
    width: 60vw;
    float: left;
}
#legend
{
    transform: scale(0.7);
    margin-left: -95px;
}
.thead{
    background-color: rgba(128, 128, 134, 0.75);
    border-bottom: 2px solid;
    text-align: center;
  }
  
  th, td {
    text-align: center;
    padding: 5px;
    font-size: 12px;
    justify-content: center;
  }

  .material-icons {
    color: red;
    text-align: center;
    font-size: 20px;
  }
  
  .alert {
    display: grid;
    margin-bottom: 5px;
    max-width: 310px;
    margin-left: 29vw;
    box-shadow: 5px 5px 5px 5px rgba(0.300, 0.300, 0.300, 0.300);
  }
