<html>
  <body>
    <div>
      <thead>
				<tr>
					<th>LEGENDA</th>
				</tr>
			</thead>
			<tbody>
          <tr>
            <td><img src="../assets/images/marker.png"></td>
            <td><img src="../assets/images/marker2.png"></td>
            <td><img src="../assets/images/marker3.png"></td>
            <td><img src="../assets/images/marker4.png"></td>
            <td><img src="../assets/images/marker5.png"></td>
            <td><img src="../assets/images/marker6.png"></td>
            <td><img src="../assets/images/marker7.png"></td>
          </tr>
          <tr>
              <td>AAAAAAAAA </td>

              <td>bbbbbbbbbbbbb </td>

              <td>cccccccccccc </td>

              <td>dddddddddddd </td>

              <td>eeeeeeeeeee </td>

              <td>ffffffffff </td>
              
              <td>gggggggggg </td>
          </tr>
        </tbody></div>
      <div id="map" class="map"></div>
  </body>
</html>
