<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<html>
  <body>
      <div class="listlessons2">Lista Twoich lekcji: </div>          
      <div class="listlessons">
          <div *ngFor="let lesson of lessonsId; let i=index " >
                <a (click)="getMap(lesson)" >Lekcja {{ i+1 }}</a>
          </div>
      </div>
      <div *ngIf = "!mapRendered" id="map" class="map"></div>
      <div class="error-message" *ngIf = "!mapRendered && mapNotDefined" >
         <p> Brak mapy dla tej jazdy</p>
      </div>
      <div class="error-message error-message2" *ngIf = "mapRendered && mapNotDefined" >
          <p>Mapa już została wygenerowana</p>
      </div>

      <div id="popup" class="ol-popup">
            <a id="popup-closer" class="ol-popup-closer"></a>
            <div id="popup-content"></div>
      </div>
  </body>
</html>