<mat-toolbar>
  <a routerLink="/registerOsk"
    ><button class="buttonMenu">
      <mat-icon [ngStyle]="{ 'margin-right': '10px' }">school</mat-icon>
      <span [ngStyle]="{ 'font-size': '18px' }">Zarejestruj OSK</span>
    </button></a
  >
  <a routerLink="/registerKursant"
    ><button class="buttonMenu">
      <mat-icon [ngStyle]="{ 'margin-right': '10px' }">account_circle</mat-icon>
      <span [ngStyle]="{ 'font-size': '18px' }">Zarejestruj Kursana</span>
    </button></a
  >
  <a routerLink="/login" class="container"><h1 id="title">Arabella</h1></a>
</mat-toolbar>
