.button {
  margin-left: 15vw;
}
.button1 {
  padding: 16px 32px;
  margin-top: -52px;
  position: fixed;
  background-color: rgba(199, 195, 175, 0.65);
  border: none;
  transition: 1s;
  cursor: pointer;
  display: inline-block;
}

.button2 {
  padding: 16px 32px;
  margin-top: -52px;
  position: fixed;
  background-color: rgba(128, 128, 134, 0.75);
  border: none;
  transition: 1s;
  cursor: pointer;
  display: inline-block;
  margin-left: 137px;
}


.button1:hover {
  background-color: rgba(128, 128, 134, 0.75);
}


.table {
  width: 50vw;
  position: fixed;
  margin-left: 15vw;
}
.thead{
  background-color: rgba(128, 128, 134, 0.75);
  border-bottom: 5px solid;
}

th, td {
  text-align: center;
  padding: 8px;
  font-size: 18px;
  justify-content: center;
}

td {
  background-color: rgba(199, 195, 175, 0.65);
}


tbody :hover {
  background-color: rgba(199, 195, 175, 0.75);
}
