.button1 {
  padding: 10px 20px;
  position: block;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  transition: 1s;
  cursor: pointer;
  display: inline-block;
  color: white;

}

.button2 {
  padding: 18px 20px 10px 20px;
  position: block;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  border: none;
  transition: 1s;
  cursor: pointer;
  display: inline-block;
}

.btt {
  width: 50%;
  margin: auto;
}

.button1:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}

.table {
  width: 50%;
  margin: auto;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  text-align: center;
}

.but {
  text-align: center;
}

.table-responsive {
  border: none;
}

th {
  text-align: center;
}

.alert {
  width: 50%;
  font-size: 18px;
  text-align: center;
  margin: auto;
  margin-top: 2vh;
}

.container {
  margin-top: 25vh;
}