<html>
  <head>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      type="text/css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h3 class=" text-center">Wiadomości</h3>

      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="inbox_chat" *ngFor="let message of rev$ |async">
            <div class="chat_list">
              <div class="chat_ib">
                <h5>Od: {{message.sender.email}}</h5>
                <p>
                  Wiadomość: {{message.message}}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="mesgs">
          <div class="type_msg">
            <form (submit)= "sendMessage($event)" class="input_msg_write" [formGroup] = "msgForm">
              <input type="text" class="write_msg" placeholder="Odbiorca" id="to" formControlName="to"/>
              <input type="text" class="write_msg" placeholder="Tytuł" id="title" formControlName="title"/>
              <input type="text" class="write_msg" placeholder="Wiadomość" id="textMessage" formControlName="textMessage"/>
              <button type="submit" class="msg_send_btn">
                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
