body {
  background-color: rgba(255, 255, 255, 0.9);
  width: 70%;
  margin: auto;
  margin-top: 10%;
}
#heading h3 { display: inline; }
.container {
  max-width: 80vw;
  margin: auto;
}

.inbox_people {
  float: left;
  max-height: 350px;
  width: 40%; border-right:1px solid #c4c4c4;
  overflow-y: scroll;
}

.inbox_msg {
  overflow: hidden;
  height: 400px;
}

.chat_ib p {
  font-size: 14px;
  margin: auto;
}

.chat_list {
  margin: 0;
  padding: 4px 4px 2px;
}
.inbox_chat {
  height: 100px;
  width: 240px;
}

.received_withd_msg p {
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.received_withd_msg {
  width: 57%;
}

.mesgs {
  float: left;
  padding: 4px 4px 0 30px;
  width: 60%;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

#textMessage {
  background: none;
  border: none;
  width: 300px;
  height: 240px;
}

#textMessage:focus {
  outline: none;
}

.input_msg_write input:focus {
  outline: none;
}

.type_msg {
  position: relative;
}

.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 300px;
  width: 33px;
  margin-right: 125px;
}

.title {
  font-weight: bold;
}

.positive-message {
  text-align: center;
  background: rgba(0, 255, 0, 0.8);
  width: 25%;
  height: 5vh;
  margin: auto;
  margin-top: 5%;
  padding: 5px;
  font-size: 15px;
  color: white;
}

.text-right
{
  margin-right: 135px;
}

@media screen and (max-width: 767px) {
  body{
    margin-top: 10px;
  }
  .container {
    transform:scale(0.8);
  }
  h3
  {
    font-size: 17px;
  }
    .msg_send_btn
    {
    margin-top: -95px;
    }
}