<link
  href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link
  href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>Ustawienia</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="login-form">
      <table class="login-table" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="login-table" floatLabel="never">
              <input
                matInput
                type="text"
                name="name"
                [(ngModel)]="name"
                id="name"
                class="data"
                readonly
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="login-table" floatLabel="never">
              <input
                matInput
                type="text"
                name="surname"
                [(ngModel)]="surname"
                class="data"
                readonly
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="login-table" floatLabel="never">
              <input
                matInput
                type="text"
                name="email"
                [(ngModel)]="email"
                class="data"
                required
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="login-table" floatLabel="never">
              <input
                matInput
                type="password"
                name="password"
                placeholder="Podaj nowe hasło"
                floatPlaceholder="never"
                [(ngModel)]="password"
                class="data"
                required
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="change()" id="login" mat-raised-button>Zapisz</button>
  </mat-card-actions>
</mat-card>

<div class="success-message" *ngIf="successMessage">Zapisano!</div>
