<link
  href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="contTable">
  <div class="tab">
    <table class="table">
      <thead>
        <tr>
          <th>Wybierz ośrodek szkolenia kierowców</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let osk of (allOsk$ | async)">
          <td [ngStyle]="{ 'padding-left': '15px' }">{{ osk.name }}</td>
          <td class="but">
            <button (click)="id($event)">
              <i id="{{ osk.id }}" class="btn-icon-only icon-ok"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
