.table {
  width: 50%;
  margin: auto;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  text-align: center;
}

.but {
  text-align: center;
}

.row {
  margin-top: 15vh;
}

.table-responsive {
  border: none;
}

th {
  text-align: center;
}
