nav.sidebar,
.main {
  -webkit-transition: margin 700ms ease-out;
  -moz-transition: margin 700ms ease-out;
  -o-transition: margin 700ms ease-out;
  transition: margin 700ms ease-out;
  z-index: 2;
}

.main {
  padding: 10px 10px 0 10px;
}

nav.sidebar.navbar.sidebar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin-left: 0px;
}

nav.sidebar a {
  padding-right: 10px;
}

nav.sidebar .navbar-nav > li {
  border-bottom: 2px #e5e5e5d0 solid;
}

nav.sidebar .navbar-collapse,
nav.sidebar .container-fluid {
  padding: 0 0px 0 0px;
}

nav.sidebar {
  width: 205px;
  height: 265px;
  margin-left: -160px;
  float: left;
  margin-top: 15%;
}

nav.sidebar li {
  width: 100%;
}

nav.sidebar:hover {
  margin-left: 3px;
}

.router {
  width: 100%;
  height: 100%;
  margin: auto;
  position: fixed;
}

@media screen and (max-width: 768px) {
  .collapse{
    display: block !important;
    visibility: visible !important;
    }
  .glyphicon
  {
    margin-right: 20px !important;
  }
  nav.sidebar{
    width: 205px;
    height: 305px;
    margin-left: -170px;
    float: left;
  }
  nav.sidebar .navbar-nav > li {
    border-bottom: 2px #e5e5e5d0 solid;
    transform: scale(0.9)!important;
  }
  }