<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <div class="account-wall">
        <div class="tab-pane active">
          <form (submit)= "register()" class="form-signin" [formGroup] = "registerForm">
              <input type="text" class="form-control" placeholder="nazwa szkoły" [(ngModel)]="oskName" name="oskName" formControlName="oskName"  id="oskname"required autofocus>
            <input type="text" class="form-control" placeholder="imię" [(ngModel)]="name" name="name" formControlName="name" id="username"required autofocus>
            <input type="text" class="form-control" placeholder="nazwisko" [(ngModel)]="lastname" name="lastname" formControlName="lastname" id="userlastname"required>
            <input type="text" class="form-control" placeholder="email" [(ngModel)]="email" name="email" formControlName="email" id="email"required>
            <input type="password" class="form-control" placeholder="Hasło" [(ngModel)]="password" name="password" formControlName="password" id="password"required>
            <input type="submit" class="btn btn-lg btn-success btn-block" value="Zarejestruj się" />
          </form>
        </div>
      </div>
    </div>
  </div>


