<link
  href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>Rejestracja</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="myForm" class="login-form">
      <table class="login-table" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="login-table" floatLabel="never">
              <input
                matInput
                formControlName="name"
                type="text"
                name="name"
                placeholder="Imię"
                [(ngModel)]="name"
                class="data"
                required
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="login-table" floatLabel="never">
              <input
                matInput
                formControlName="lastname"
                type="text"
                name="lastname"
                placeholder="Nazwisko"
                [(ngModel)]="lastname"
                class="data"
                required
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="login-table" floatLabel="never">
              <input
                matInput
                formControlName="email"
                type="text"
                name="email"
                placeholder="Email"
                [(ngModel)]="email"
                class="data"
                required
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="login-table" floatLabel="never">
              <input
                matInput
                formControlName="password"
                type="password"
                name="password"
                placeholder="Hasło"
                floatPlaceholder="never"
                [(ngModel)]="password"
                class="data"
                required
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="register()" id="login" mat-raised-button>
      Zarejestruj
    </button>
  </mat-card-actions>
</mat-card>

<div class="error-message" *ngIf="errorMessage">
  Nieprawidłowy e-mail bądź któreś z pól pozostało puste
</div>

<div class="error-message" *ngIf="errorMessageData">
  Taka osoba już istnieje!
</div>

<div class="success-message" *ngIf="successMessage">Zarejestrowano!</div>
